# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Database volume
data/
*.db
*.db-shm
*.db-wal

# Build artifacts
notification-server
